@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Ruda', sans-serif;
  bottom: 0;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;

}

h1 {
  font-family: 'Palanquin', sans-serif;
  font-size: 2.5rem;
  margin-left: 20px;
  padding: 20px;
  text-decoration: underline;
}

nav {
  background-color: #ABE3EB;
  margin-left: 0;
  padding: 0;
  
}
nav ul {
    list-style-type: none;
    text-decoration: none;
    text-align: right;
    padding: 20px;
    word-spacing: 100px;
    font-family: 'Ruda', sans-serif;
  }

nav li {  
    display: inline;
    font-size: 16px;
    
  }

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  color: #F1C221;
}

nav .current {
  background-color: #CFF9FF;
  padding: 20px;
}




/*css for pomodoro */

.container-focus {
  background-color: #E7FCFF;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-image: url('clouds.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
}

.container-focus p {
  margin-left: 45px;
}

.focus-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  position: absolute;

}



.study-area {
  background-color: #ABE3EB;
  border: solid 1px #ABE3EB;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(95, 146, 195, 0.5);
  padding: 1.5rem;
  height: 40%;
}

button {
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
  padding: 1rem;
  border: 2px solid #3B98A6;
  background-color: #3B98A6;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
 
}
.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  top: 40%;
  left: 50%;
  padding: 20px;
}


/*styling for music play*/

/* background-image: linear-gradient(0deg, #ABE3EB 23%,  #1EBDD3  92% ); */

.music-container {
  background-color: #5DBCCA;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(95, 146, 195, 0.5);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #2C2D2D;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: #000;
  font-size: 30px;
}

.music-info {
  background-color: #BADCE1;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  padding: 10px 10px 10px 100px;
  transition: transform 0.3s ease-in opacity 0.3s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}



/*Dashboard page css*/

.index-container {
  background-color: #E7FCFF;
  height: 100%;
  height: 100vh;
  width: 100%;
  background-image: url('dashboard.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
}

.content-index {
  margin-left: 20px;;
}

.content-index p {
  margin-top: 20px;
  padding-left: 20px;
}

.manager-area {
  background-color: #ABE3EB;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(95, 146, 195, 0.5);
  margin-top: 25%;
  padding: 20px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  /* white-space: nowrap;  */

}

.manager-area input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #5DBCCA;
  font-size: 1rem;
  display: table-cell;
  vertical-align: middle;
}

.manager-area h4 {
  padding: 5px;
  margin-right: 10px;
  font-size: 10px;
  text-decoration: underline;
  margin-top: 1%;
}


.table-area {
  padding: 10px;
}

.strike {
  text-decoration: line-through;
}

td {
  border: 1px solid #5DBCCA;
  padding: 5px;
}

table {
  border: 3px solid #5DBCCA;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(95, 146, 195, 0.5);
}

#addBtn {
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 900;
}

/*flashcards css*/

.container-flashcards {
  background-color: #E7FCFF;
  width: 100%;
  height: 100vh;
  background-image: url('flashcards.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.container-flashcards p {
  padding: 10px;
  text-align: center;
}



#create_card{
  display: none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background: #ABE3EB;
  border: 3px solid #5DBCCA;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(95, 146, 195, 0.5);
}

#create_card h2{
  color: black;
  text-align: center;
}

.newCards {
  padding: 20px;
  margin-left: 45%;
}

#create_card textarea{
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
  resize: none;
}

#create_card button{width: fit-content;}

#flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  background: #ABE3EB;
  cursor: pointer;
  position: relative;
}

.flashcard h2{font-size: 1rem;}

.fa-minus{
  top: 3%;
  right: 2%;
  position: absolute;
  color: #1a1a1a;
  transition: 0.3s ease-out;
}

.fa-minus:hover{color: #5DBCCA;}

.stopwatch {
  background: #ABE3EB;
  border: 3px solid #5DBCCA;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(95, 146, 195, 0.5);
  display: flex;
  justify-content: space-between ;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 170px;
  margin: auto;
  padding-bottom: 10px;
}


.stopwatch #time {
  font-size: 1.5rem;

}
.stopwatch h3 {
  text-align: center;
  padding: 10px;
}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .flashcard{width: 100%;}

}