@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Ruda', sans-serif;
  bottom: 0;
}
nav {
  background-color: #ABE3EB;
  margin-left: 0;
  padding: 0;
  
}
nav ul {
    list-style-type: none;
    text-decoration: none;
    text-align: right;
    padding: 20px;
    word-spacing: 100px;
    font-family: 'Ruda', sans-serif;
  }

nav li {  
    display: inline;
    font-size: 16px;
    
  }

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  color: #F1C221;
}

nav .current {
  background-color: #CFF9FF;
  padding: 20px;
}




/*css for pomodoro */

.container-focus {
  background-color: #E7FCFF;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.focus-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  position: absolute;

}

.study-area {
  background-color: #ABE3EB;
  border: solid 1px #ABE3EB;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(95, 146, 195, 0.5);
  padding: 1.5rem;
  height: 40%;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  border: 2px solid #ABE3EB;
  background-color: #5DBCCA;
  border-radius: 8px;
}
.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  top: 40%;
  left: 50%;
  padding: 20px;
}


/*styling for music play*/

/* background-image: linear-gradient(0deg, #ABE3EB 23%,  #1EBDD3  92% ); */

.music-container {
  background-color: #5DBCCA;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(95, 146, 195, 0.5);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #2C2D2D;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: #000;
  font-size: 30px;
}

.music-info {
  background-color: #BADCE1;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  padding: 10px 10px 10px 100px;
  transition: transform 0.3s ease-in opacity 0.3s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/*css for assignments page*/

.container-assignments {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #BADCE1;

}

.todo-container {
  width: 1000px;
  height: 80vh;
  left: 50%;
  display: flex;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 137, 71, 0.5);
}

.status {
  width: 25%;
  background-color: #6EB6C0;
  border-radius: 10px;
  position: relative;
  padding: 60px 1rem 0.5rem;
}

.status h1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 0px solid #446033;
  color: #000;
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}


.status:nth-child(even) {
  background-color: #82BC92;
}

#add_btn {
  background-color: purple;
  box-shadow: 0 10px 10px 0 rgba(0, 137, 71, 0.5);
  border: none;
  width: 100%;
  cursor: pointer;
}

.todo {
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #BADCE1;
  box-shadow: 0 10px 10px 0 rgba(0, 137, 71, 0.5);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.todo .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 2rem;
}

.todo .close:hover {
  cursor: pointer;
}

/*  */

form, .task-title{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000;
  border-radius: 0;
}

.task-title { 
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  background: white;
}

form button {
  color: #000;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #000;
  color: white;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  min-width: 30%;
  list-style: none;
}

.task {
  margin: 0.4rem;
  background: #F8D661;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;

}

.task li{
  flex: 1;
  

}

.trash-btn, .completed-btn {
  background: #D16D6A;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-btn {
  background: #9DC284;
}

.task-item{
  padding: 0rem 0.5rem;
}

.fa-trash-can, .fa-circle-check {
  pointer-events: none;
}

/**/


.timer-area {
  background-color: red;
}

.timer-task {
  background-color: pink;
  justify-content: center;
  align-content: center;
}